*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/app.iml
app/app-release.apk
google-services.json
gradle.properties
keystore.properties
*.iml

/.idea/
/projectFilesBackup

Thumbs.db
