*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/reports
app/app.iml
app/app-release.apk
app/release
app/minApi19/release
google-services.json
gradle.properties
keystore.debug.properties
keystore.properties
omnitrackBuildConfig.json
*.iml

/.idea/
/projectFilesBackup

Thumbs.db
