GOOGLE_MAPS_API_KEY = ""


FITBIT_CLIENT_ID = ""
FITBIT_CLIENT_SECRET = ""

MISFIT_APP_KEY = ""
MISFIT_APP_SECRET = ""

RESCUETIME_CLIENT_ID = ""
RESCUETIME_CLIENT_SECRET = ""
RESCUETIME_REDIRECT_URI = "https://localhost/redirect_callback"

JAWBONE_CLIENT_ID = ""
JAWBONE_CLIENT_SECRET = ""
JAWBONE_REDIRECT_URI = "up-platform://redirect"
