{
  "synchronizationServerUrl": null,
  "mediaStorageUrl": null,
  "disableVersionAutoIncrement": false,
  "defaultExperimentId": null,
  "overridePackageName": null,
  "overrideAppName": null,
  "disableTrackerCreation": false,
  "disableTriggerCreation": false,
  "enableDynamicApiKeyModification": false,

  "signing": {
    "releaseKeystoreLocation": null,
    "releaseAlias": null,
    "releaseKeyPassword": null,
    "releaseStorePassword": null
  },
  "showTutorials": true,
  "hideServicesTab": false,
  "hideTriggersTab": false,
}