<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.snu.hcil.omnitrack">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".OTApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />

        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->

        <receiver android:name=".receivers.OTSystemReceiver">
            <intent-filter>
                <action android:name="kr.ac.snu.hcil.omnitrack.action.EVENT_TRIGGER_ALARM" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.SHORTCUT_REFRESH" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.BACKGROUND_LOGGING_STARTED" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.BACKGROUND_LOGGING_SUCCEEDED" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.BACKGROUND_LOGGING_FAILED" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.ITEM_ADDED" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.ITEM_EDITED" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.ITEM_REMOVED" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.COMMAND_REMOVE_ITEM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.PackageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.RebootReceiver"
            android:directBootAware="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.TimeTriggerAlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="kr.ac.snu.hcil.omnitrack.action.ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgets.OTShortcutPanelWidgetProvider"
            android:label="@string/msg_shortcut_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.USER_SIGNED_IN" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.USER_SIGNED_OUT" />
                <action android:name="kr.ac.snu.hcil.omnitrack.action.APP_WIDGET_SHORTCUT_TRACKER_CLICKED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcut_widget_info" />
        </receiver>

        <service
            android:name=".widgets.OTShortcutPanelWidgetUpdateService"
            android:exported="false" />

        <service
            android:name=".receivers.TimeTriggerAlarmReceiver$TimeTriggerWakefulHandlingService"
            android:exported="false" />
        <service
            android:name=".services.OTBackgroundLoggingService"
            android:exported="false" />
        <service
            android:name=".services.OTVersionCheckService"
            android:exported="false" />
        <service
            android:name=".services.DataTriggerCheckService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name=".services.OTTableExportService"
            android:exported="false" />
        <service
            android:name=".services.OTFirebaseUploadService"
            android:exported="false" />

        <service
            android:name=".widgets.OTShortcutPanelWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".services.messaging.OTFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.messaging.OTFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.OTAudioPlayService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_simple" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".ui.pages.SplashScreenActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.pages.AboutActivity" />
        <activity
            android:name=".ui.pages.home.HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.pages.tracker.TrackerDetailActivity"
            android:label="@string/title_activity_tracker_new"
            android:parentActivityName=".ui.pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.pages.attribute.AttributeDetailActivity"
            android:label="@string/title_activity_attribute_detail" />
        <activity
            android:name=".ui.pages.items.ItemEditingActivity"
            android:label="@string/title_activity_new_item" />
        <activity android:name=".ui.pages.items.ItemBrowserActivity" />
        <activity android:name=".ui.components.common.activity.WebServiceLoginActivity" />
        <activity android:name=".ui.pages.visualization.ChartViewActivity" />
        <activity
            android:name=".ui.pages.trigger.TriggerDetailActivity"
            android:label="Trigger Detail" />
        <activity
            android:name=".ui.pages.diagnostics.SystemLogActivity"
            android:label="System Logs" />
        <activity
            android:name=".ui.pages.SignInActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sign_in" />
        <activity
            android:name=".ui.pages.experiment.ExperimentSignInActivity"
            android:theme="@style/Theme.Intro"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.pages.SendReportActivity"
            android:label="@string/msg_send_report" />

        <activity
            android:name=".ui.pages.configs.ShortcutPanelWidgetConfigActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="kr.ac.snu.hcil.omnitrack.shortcutPanelWidgetConfigTask"
            android:theme="@style/AppTheme.Dialog.DimmedBackground" />

        <activity
            android:name=".ui.activities.ReminderPopupActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:taskAffinity="kr.ac.snu.hcil.omnitrack.reminderPopup"
            android:theme="@style/AppTheme.Dialog.DimmedBackground" />

    </application>

</manifest>